{{>layouts/header}}
<!--수정 페이지-->
{{#member}}
<form class="container" action="/members/update" method="post">
    <input type="hidden" name="id" value="{{id}}"> <!--id도 같이 전송하기 위해 숨기고 전송-->
    <div class="mb-3">
        <label class="form-label">이메일</label>
        <input type="email" class="form-control" name="email" value="{{email}}">
    </div>
    <div class="mb-3">
        <label class="form-label">비밀번호</label>
        <input type="password" class="form-control" name="password" value="{{password}}">
    </div>
    <button type="submit" class="btn btn-primary">수정하기</button>

    <a href="/members">목록으로</a>
</form>
{{/member}}

{{>layouts/footer}}