{{>layouts/header}}
<!--수정 페이지-->
<!--action:폼 데이터를 어디로 보낼지 지정, method: 어떻게 보낼지 방식 지정-->
<form class="container" action="/articles/update" method="post">
    <input name="id" type="hidden" value="{{id}}"> <!--id도 전송-->
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{article.title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content">{{article.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">수정</button>
    <a href="/articles/{{article.id}}">뒤로</a>
</form>

{{>layouts/footer}}